.antd-input {
    line-height: 1.4em;
    border-radius: 6px;
    display: flex;
    flex: 1;

    .ant-label {
        background-color: #F5F5F5;
        display: inline-block;
        font-size: 14px;
        border-style: solid;
        border-width: 0px 1px 1px;
        border-color: #dcdcdc;
        padding: 6px 12px;
        cursor: pointer;
        flex: 3;
        display: flex;
        align-items: center;

        &:hover {
            background-color: #EEEEEE;
        }
    }

    .ant-input, .ant-radio-group {
        padding: 6px 0px 6px 12px;
        font-size: 14px;
        line-height: 1.4em;
        border-width: 0px 0px 1px 0px;
        border-color: #dcdcdc;
        border-style: solid;
        outline: none;
        flex: 5;

        &.ant-checkbox-wrapper {
            display: flex;
            align-items: center;
        }
    }

    &.active {
        .ant-input, .ant-label {
            transition: .3s;
            border-bottom: 1px solid #26C6DA;
        }

        .ant-label {
            background-color: #E0E0E0;
        }
    }

    .ant-input-group-wrapper {
        width: 100%;

        .ant-input-group {
            display: flex;
            width: 100%;

            .ant-input-group-addon {
                flex: 3;
                padding: 3px 12px;
                border-width: 0px 1px 1px 1px;
                border-color: #dcdcdc;
                border-style: solid;
                background-color: #F5F5F5;
                overflow: hidden;

                .ant-select {
                    width: 100%;
                    color: black;

                    .ant-select-selection {
                        border-radius: 0px;
                        border-width: 0px;
                        background-color: #F5F5F5;

                        .ant-select-selection__rendered {
                            font-size: 14px;
                            margin: 0px;

                            &:focus {
                                outline: none;
                            }
                        }

                        .ant-select-arrow {
                            &:before {
                                content: '';
                            }
                        }
                    }
                }
            }
        }
    }
}

.ant-collapse {
    background-color: #FFF3E0;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);

    .ant-collapse-header {
        border-bottom: 1px solid #dcdcdc;
        padding: 6px 0px !important;
        text-align: center;

        .arrow {
            display: none !important;
        }
    }

    .ant-collapse-content {
        padding: 0px;

        & > .ant-collapse-content-box {
            padding: 0px;
        }
    }
}
