.card {
    font-size: 16px;
    line-height: 1.7em;

    .divider {
        border-bottom: 1px solid #dcdcdc;
        margin: 30px 0px;
    }

    .description {
        padding: 20px 0px;
    }

    code {
        color: #00796B;
        padding: 3px 7px;
        border-radius: 4px;
        border: 1px solid #dcdcdc;
        font-size: 14px;
    }

    .comments {
        color: #dcdcdc;
    }

    a {
        color: #00796B;
        transition: .3s;

        &:hover {
            color: #FFA726;
        }
    }
}
