.compatibility {
    overflow-x: scroll;
    margin-top: 30px;

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 13px;

        thead {
            font-size: 15px;

            th {
                &:nth-child(1) {
                    width: 20%;
                }

                &:nth-child(2), &:nth-child(3) {
                    width: 40%;
                }
            }
        }

        th, td {
            border: 1px solid #dcdcdc;
            padding: 10px 6px;
            text-align: center;

            &.green {
                color: #fff;
                background-color: #81C784;
            }

            &.red {
                color: #fff;
                background-color: #FF5722;
            }
        }
    }
}

@media screen and (max-width: 414px) {
    .compatibility {
        h2, h4, table {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}
