.js360-playground {
    display: flex;

    .js360 {
        width: 580px;
        height: 327px;
    }

    form.js360-input {
        display: flex;
        flex: 2;

        .js360-card {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            .js360-canvas {
                margin: 0 auto;
            }
        }

        .fields-title, .option-title {
            padding: 12px;
            border-style: solid;
            border-width: 0px 0px 1px 1px;
            border-color: #dcdcdc;
            font-weight: 600;
            border-radius: 4px 4px 0px 0px;
            text-align: center;
        }

        .option-title {
            padding: 8px 12px;
            border-radius: 0px;
        }

        .divider {
            padding: 5px;
            border-style: solid;
            border-width: 0px 0px 1px;
            border-color: #dcdcdc;
        }

        .fields {
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }
    }

    .js360-html-input {
        position: relative;
        flex: 3;
        margin-right: 10px;
        height: 100%;

        .js360-card {
            box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
        }

        .js360-card .fields .column {
            margin-bottom: 0px;
            box-shadow: none;
        }

        .ant-collapse {
            box-shadow: none;
        }
    }

    .js360-js-input {
        flex: 2;
    }

    .js360-source {
        flex: 1;
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
        margin-left: 10px;
        height: 100%;
        overflow: hidden;

        & > pre {
            padding: 15px;
            overflow: hidden;
        }

        span {
            display: inline;
            overflow: hidden;
        }

        .title {
            padding: 8px 12px;
            border-width: 0px 0px 1px 0px;
            border-color: #dcdcdc;
            border-style: solid;
            line-height: 22px;
        }
    }

    .controls-container {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        top: 20px;
        right: 20px;

        .ant-btn {
            height: 48px;
            display: flex;
            align-items: center;
            box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
            margin-left: 20px;
        }

        .add {
            border-radius: 50%;
            font-size: 28px;

            span {
                margin-top: -4px;
            }
        }
    }

    .preview .html-source > pre {
        padding: 15px;
    }
}

@media screen and (max-width: 1400px) {
    .js360-playground {
        form.js360-input {
            flex-direction: column;
            flex: 1;

            .js360-html-input {
                margin-right: 0px;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .js360-playground {
        flex-direction: column;

        .js360-source {
            margin-left: 0px;
        }
    }
}

@media screen and (max-width: 620px) {
    .js360-playground {
        .js360 {
            width: 480px;
            height: 270px;
        }
    }
}

@media screen and (max-width: 520px) {
    .js360-playground {
        .js360 {
            width: 320px;
            height: 180px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .js360-source, .js360-js-input, .js360-html-input, .compatibility {
        width: 984px;
    }
}

@media screen and (max-width: 768px) {
    .js360-source, .js360-js-input, .js360-html-input, .compatibility {
        width: 728px;
    }
}

@media screen and (max-width: 414px) {
    .js360-source, .js360-js-input, .js360-html-input, .compatibility {
        width: 414px;
    }
}

@media screen and (max-width: 375px) {
    .js360-source, .js360-js-input, .js360-html-input, .compatibility {
        width: 375px;
    }
}

@media screen and (max-width: 360px) {
    .js360-source, .js360-js-input, .js360-html-input, .compatibility {
        width: 360px;
    }
}

@media screen and (max-width: 320px) {
    .js360-source, .js360-js-input, .js360-html-input, .compatibility {
        width: 320px;
    }
}
