.js360-playground {
  display: flex; }
  .js360-playground .js360 {
    width: 580px;
    height: 327px; }
  .js360-playground form.js360-input {
    display: flex;
    flex: 2; }
    .js360-playground form.js360-input .js360-card {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px; }
      .js360-playground form.js360-input .js360-card .js360-canvas {
        margin: 0 auto; }
    .js360-playground form.js360-input .fields-title, .js360-playground form.js360-input .option-title {
      padding: 12px;
      border-style: solid;
      border-width: 0px 0px 1px 1px;
      border-color: #dcdcdc;
      font-weight: 600;
      border-radius: 4px 4px 0px 0px;
      text-align: center; }
    .js360-playground form.js360-input .option-title {
      padding: 8px 12px;
      border-radius: 0px; }
    .js360-playground form.js360-input .divider {
      padding: 5px;
      border-style: solid;
      border-width: 0px 0px 1px;
      border-color: #dcdcdc; }
    .js360-playground form.js360-input .fields {
      width: 100%;
      height: 100%;
      border-radius: 4px; }
  .js360-playground .js360-html-input {
    position: relative;
    flex: 3;
    margin-right: 10px;
    height: 100%; }
    .js360-playground .js360-html-input .js360-card {
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3); }
    .js360-playground .js360-html-input .js360-card .fields .column {
      margin-bottom: 0px;
      box-shadow: none; }
    .js360-playground .js360-html-input .ant-collapse {
      box-shadow: none; }
  .js360-playground .js360-js-input {
    flex: 2; }
  .js360-playground .js360-source {
    flex: 1;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    height: 100%;
    overflow: hidden; }
    .js360-playground .js360-source > pre {
      padding: 15px;
      overflow: hidden; }
    .js360-playground .js360-source span {
      display: inline;
      overflow: hidden; }
    .js360-playground .js360-source .title {
      padding: 8px 12px;
      border-width: 0px 0px 1px 0px;
      border-color: #dcdcdc;
      border-style: solid;
      line-height: 22px; }
  .js360-playground .controls-container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 20px;
    right: 20px; }
    .js360-playground .controls-container .ant-btn {
      height: 48px;
      display: flex;
      align-items: center;
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
      margin-left: 20px; }
    .js360-playground .controls-container .add {
      border-radius: 50%;
      font-size: 28px; }
      .js360-playground .controls-container .add span {
        margin-top: -4px; }
  .js360-playground .preview .html-source > pre {
    padding: 15px; }

@media screen and (max-width: 1400px) {
  .js360-playground form.js360-input {
    flex-direction: column;
    flex: 1; }
    .js360-playground form.js360-input .js360-html-input {
      margin-right: 0px; } }

@media screen and (max-width: 1100px) {
  .js360-playground {
    flex-direction: column; }
    .js360-playground .js360-source {
      margin-left: 0px; } }

@media screen and (max-width: 620px) {
  .js360-playground .js360 {
    width: 480px;
    height: 270px; } }

@media screen and (max-width: 520px) {
  .js360-playground .js360 {
    width: 320px;
    height: 180px; } }

@media screen and (max-width: 1024px) {
  .js360-source, .js360-js-input, .js360-html-input, .compatibility {
    width: 984px; } }

@media screen and (max-width: 768px) {
  .js360-source, .js360-js-input, .js360-html-input, .compatibility {
    width: 728px; } }

@media screen and (max-width: 414px) {
  .js360-source, .js360-js-input, .js360-html-input, .compatibility {
    width: 414px; } }

@media screen and (max-width: 375px) {
  .js360-source, .js360-js-input, .js360-html-input, .compatibility {
    width: 375px; } }

@media screen and (max-width: 360px) {
  .js360-source, .js360-js-input, .js360-html-input, .compatibility {
    width: 360px; } }

@media screen and (max-width: 320px) {
  .js360-source, .js360-js-input, .js360-html-input, .compatibility {
    width: 320px; } }
