.left-menu {
    width: 320px;
    font-size: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;

    a {
        padding: 25px 30px;
        text-decoration: none;
        transition: .3s;
        color: #212121;
        transition: .3s;

        &.active {
            border-right: 3px solid #FFA726;
        }

        &:hover {
            background-color: #EFEBE9;
        }
    }
}
