pre.source {
  margin: 0px;
  font-size: 15px;
  font-family: Lucida Console,Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
  hyphens: none;
  overflow: scroll; }

pre.source .comments, .table-options .comments {
  color: #dcdcdc; }

pre.source .keyword, .table-options .keyword {
  color: #757575;
  font-weight: 800; }

pre.source .const, .table-options .const {
  color: #424242; }

pre.source .punctuation, pre.source .value-punctuation, .table-options .punctuation, .table-options .value-punctuation {
  color: #999; }

pre.source .value-object, .table-options .value-object {
  color: #009688; }

pre.source .object-property, .table-options .object-property {
  color: #FB8C00; }

pre.source .value-string, .table-options .value-string {
  color: #690; }

pre.source .value-boolean, .table-options .value-boolean {
  color: #1976D2; }

pre.source .value-number, .table-options .value-number {
  color: #757575; }

pre.source .value-array, .table-options .value-array {
  color: #E040FB; }
  pre.source .value-array:before, .table-options .value-array:before {
    content: "[";
    color: #999; }
  pre.source .value-array:after, .table-options .value-array:after {
    content: "]";
    color: #999; }

pre.source .tag, .table-options .tag {
  color: #FB8C00; }
