pre.source {
    margin: 0px;
    font-size: 15px;
    font-family: Lucida Console,Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
    hyphens: none;
    overflow: scroll;
}

pre.source, .table-options {
    .comments {
        color: #dcdcdc;
    }

    .keyword {
        color: #757575;
        font-weight: 800;
    }

    .const {
        color: #424242;
    }

    .punctuation, .value-punctuation {
        color: #999;
    }

    .value-object {
        color: #009688;
    }

    .object-property {
        color: #FB8C00;
    }

    .value-string {
        color: #690;
    }

    .value-boolean {
        color: #1976D2;
    }

    .value-number {
        color: #757575;
    }

    .value-array {
        color: #E040FB;

        &:before {
            content: "[";
            color: #999;
        }

        &:after {
            content: "]";
            color: #999;
        }
    }

    .tag {
        color: #FB8C00;
    }
}
