.table-options {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px; }
  .table-options thead tr th {
    border-bottom: 1px solid #dcdcdc; }
  .table-options tbody tr:nth-child(even) {
    background-color: #FAFAFA; }
  .table-options tbody tr td {
    padding: 10px 5px; }
    .table-options tbody tr td:nth-child(1), .table-options tbody tr td:nth-child(2), .table-options tbody tr td:nth-child(3), .table-options tbody tr td:nth-child(4) {
      text-align: center; }
  .table-options .property, .table-options .required {
    width: 10%; }
  .table-options .html, .table-options .type {
    width: 12%; }
  .table-options .example {
    width: 28%; }
  .table-options .description {
    width: 28%; }
