.table-options {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;

    thead tr th {
        border-bottom: 1px solid #dcdcdc;
    }

    tbody tr {
        &:nth-child(even) {
            background-color: #FAFAFA;
        }

        td {
            padding: 10px 5px;

            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                text-align: center;
            }
        }
    }

    .property, .required {
        width: 10%;
    }

    .html, .type {
        width: 12%;
    }

    .example {
        width: 28%;
    }

    .description {
        width: 28%;
    }
}
