.top-menu {
  display: flex;
  align-items: center;
  height: 80px;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.15); }
  .top-menu .company h3 {
    padding: 0px 30px; }
  .top-menu .company {
    width: 320px;
    height: 100%;
    display: flex;
    align-items: center; }
